<button [type]="type" [class]="'btn btn-' + variant + ' btn-' + size" [class.loading]="isLoading"
    [disabled]="disabled || isLoading" (click)="!disabled && !isLoading && trigger.emit($event)"
    [attr.aria-label]="ariaLabel">

    @if (isLoading) {
    <span class="spinner"></span>
    }

    @if (!isLoading) {
    @if (icon && iconPos === 'left') {
    <span class="material-symbols-outlined">
        {{ icon }}
    </span>
    }

    <span class="btn-text">
        <ng-content />
    </span>

    @if (icon && iconPos === 'right') {
    <span class="material-symbols-outlined">
        {{ icon }}
    </span>
    }
    }

</button>