<div [class]="containerClasses">
    <!-- Real Image -->
    @if (fullUrl && !hasError) {
    <img [src]="fullUrl" [alt]="alt" loading="lazy" (load)="onLoad()" (error)="onError()" [class.loaded]="isLoaded" class="main-img">
    <!-- Skeleton loader while loading -->
    @if (!isLoaded) {
    <div class="skeleton-loader"></div>
    }
    } @else {
    <!-- Placeholder -->
    <div class="image-placeholder animate-fade-in">
        <div class="placeholder-content">
            @if (!initials) {
            <app-icon [name]=" placeholderIcon " class=" icon-sm"></app-icon>
            }
            @if (initials) {
            <span class="initials">{{ initials | uppercase }}</span>
            }
            @if (placeholderLabel) {
            <span class="label">{{ placeholderLabel }}</span>
            }
        </div>
    </div>
    }
</div>