<div [class]="containerClasses">
    <!-- Real Image -->
    <ng-container *ngIf="fullUrl && !hasError; else placeholder">
        <img [src]="fullUrl" [alt]="alt" (load)="onLoad()" (error)="onError()" [class.loaded]="isLoaded"
            class="main-img">
        <!-- Skeleton loader while loading -->
        <div *ngIf="!isLoaded" class="skeleton-loader"></div>
    </ng-container>

    <!-- Placeholder -->
    <ng-template #placeholder>
        <div class="image-placeholder animate-fade-in">
            <div class="placeholder-content">
                <span *ngIf="!initials" class="material-symbols-outlined">{{ placeholderIcon }}</span>
                <span *ngIf="initials" class="initials">{{ initials | uppercase }}</span>
                <span *ngIf="placeholderLabel" class="label">{{ placeholderLabel }}</span>
            </div>
        </div>
    </ng-template>
</div>