@if (visible) {
<div class="modal-overlay" (click)="onBackdropClick($event)" (keydown.escape)="closeOnOverlay && close()" tabindex="0">
    <div class="modal-box" [class]="'modal-' + size" [class.theme-danger]="theme === 'danger'"
        [class.allow-overflow]="allowOverflow">
        <!-- Header -->
        <div class="modal-header">
            @if (icon) {
            <app-icon [name]=" icon " class=" icon-sm"></app-icon>
            }
            <h3>{{ title }}</h3>
            <button (click)="close()" class="close-btn">
                <app-icon name="close" class=" icon-sm"></app-icon>
            </button>
        </div>

        <!-- Body -->
        <div class="modal-body" [class.allow-overflow]="allowOverflow">
            <ng-content />
        </div>

        <!-- Footer -->
        @if (hasFooter) {
        <div class="modal-footer">
            <ng-content select="[modal-footer]" />
        </div>
        }
    </div>
</div>
}