:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
    fill: currentColor;
    stroke: currentColor;
    flex-shrink: 0;

    // Make sure the span inside uses full dimensions
    .app-icon-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        ::ng-deep svg {
            display: block; // Remove inline spacing
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
}

// Ensure default size (should match --icon-md in _icons.scss)
:host {
    width: 24px;
    height: 24px;
    font-size: 24px;
}