@if (visible) {
<div class="alert" [class]="'alert-' + type">
    <div class="alert-icon">
        <app-icon [name]=" icon || getDefaultIcon() " class=" icon-sm"></app-icon>
    </div>

    <div class="alert-content">
        @if (title) {
        <div class="alert-title">{{ title }}</div>
        }
        <div class="alert-message">
            <ng-content />
        </div>
    </div>

    @if (dismissible) {
    <button (click)="dismiss()" class="close-btn">
        <app-icon name="close" class="close-icon icon-sm"></app-icon>
    </button>
    }
</div>
}