@if (visible) {
<div class="alert" [class]="'alert-' + type">
    <div class="alert-icon">
        <span class="material-symbols-outlined">{{ icon || getDefaultIcon() }}</span>
    </div>

    <div class="alert-content">
        @if (title) {
        <div class="alert-title">{{ title }}</div>
        }
        <div class="alert-message">
            <ng-content></ng-content>
        </div>
    </div>

    @if (dismissible) {
    <button (click)="dismiss()" class="close-btn">
        <span class="material-symbols-outlined close-icon">close</span>
    </button>
    }
</div>
}