<div class="table-container">
    <div class="table-wrapper">
        <table [class.hoverable]="hoverable" [class.striped]="striped">
            <thead>
                <tr>
                    <th *ngFor="let col of columns" [style.width]="col.width">
                        {{ col.label }}
                    </th>
                </tr>
            </thead>

            <tbody *ngIf="!loading && data.length > 0">
                <tr *ngFor="let row of data; let i = index">
                    <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.template; else defaultCell">
                            <ng-container
                                *ngTemplateOutlet="col.template; context: { $implicit: row, row: row, index: i }"></ng-container>
                        </ng-container>
                        <ng-template #defaultCell>
                            {{ getCellValue(row, col.key) }}
                        </ng-template>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="loading">
                <tr *ngFor="let i of [1,2,3,4,5]">
                    <td *ngFor="let col of columns">
                        <div class="skeleton-text"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="empty-state" *ngIf="!loading && data.length === 0">
        <div class="empty-icon">
            <span class="material-symbols-outlined">inbox</span>
        </div>
        <span class="empty-text">{{ emptyMessage }}</span>
    </div>
</div>