<div class="table-container">
    <div class="table-wrapper">
        <table [class.hoverable]="hoverable" [class.striped]="striped">
            <thead>
                <tr>
                    @for (col of columns; track col.key) {
                    <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
                    <th [style.width]="col.width">
                        {{ col.label }}
                    </th>
                    }
                </tr>
            </thead>

            @if (!loading && data.length > 0) {
            <tbody>
                @for (row of data; track i; let i = $index) {
                <tr>
                    @for (col of columns; track col.key) {
                    <td>
                        @if (col.template) {
                        <ng-container
                            *ngTemplateOutlet="col.template; context: { $implicit: row, row: row, index: i }"></ng-container>
                        } @else {
                        {{ getCellValue(row, col.key) }}
                        }
                    </td>
                    }
                </tr>
                }
            </tbody>
            }

            @if (loading) {
            <tbody>
                @for (i of [1,2,3,4,5]; track i) {
                <tr>
                    @for (col of columns; track col.key) {
                    <td>
                        <div class="skeleton-text"></div>
                    </td>
                    }
                </tr>
                }
            </tbody>
            }
        </table>
    </div>

    @if (!loading && data.length === 0) {
    <div class="empty-state">
        <div class="empty-icon">
            <span class="material-symbols-outlined">inbox</span>
        </div>
        <span class="empty-text">{{ emptyMessage }}</span>
    </div>
    }
</div>