<div class="page-header" [class.page-glow-top]="showGradient">
    <div class="header-content">
        <app-button *ngIf="showBack" variant="ghost" size="sm" icon="arrow_forward" (click)="back.emit()"
            style="margin-right: -0.5rem;"></app-button>

        <div class="title-wrapper">
            <h1 class="page-title">{{ title }}</h1>
            <p class="page-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
        </div>

        <ng-content select="[breadcrumbs]"></ng-content>
    </div>

    <div class="header-actions">
        <ng-content></ng-content>
    </div>
</div>