<div class="page-header" [class.page-glow-top]="showGradient">
    <div class="header-content">
        @if (showBack) {
        <app-button variant="ghost" size="sm" icon="arrow_forward" (click)="back.emit()" class="back-btn" />
        }

        <div class="title-wrapper">
            <h1 class="page-title">{{ title }}</h1>
            @if (subtitle) {
            <p class="page-subtitle">{{ subtitle }}</p>
            }
        </div>

        <ng-content select="[title-addon]" />

        <ng-content select="[breadcrumbs]" />
    </div>

    <div class="header-actions">
        <ng-content />
    </div>
</div>