<div (click)="handleClick()" (keydown.enter)="handleClick()" (keydown.space)="$event.preventDefault(); handleClick()"
    class="action-card animate-fade-in" tabindex="0" role="button">
    <div class="action-header">
        <div class="action-icon-wrapper" [ngClass]="colorClass">
            <span class="material-symbols-outlined">{{ icon }}</span>
        </div>
        <span class="material-symbols-outlined action-arrow">arrow_back</span>
    </div>

    <div class="action-body">
        <h3 class="action-title">{{ title }}</h3>
        <p class="action-desc">{{ description }}</p>
    </div>
</div>