<div class="global-alerts-container">
    @for (alert of uiFeedback.alerts(); track alert.id) {
    <div class="global-alert" [attr.data-type]="alert.type">
        <div class="global-alert-icon" [attr.data-type]="alert.type">
            <span class="material-symbols-outlined">{{ getIcon(alert.type) }}</span>
        </div>
        <div class="global-alert-content">
            <div class="global-alert-title">{{ alert.title }}</div>
            @if (alert.message) {
            <div class="global-alert-message">{{ alert.message }}</div>
            }
        </div>
        @if (alert.dismissible) {
        <button class="global-alert-dismiss" (click)="uiFeedback.dismissAlert(alert.id)">
            <span class="material-symbols-outlined">close</span>
        </button>
        }
    </div>
    }
</div>