<div class="global-alerts-container">
    @for (alert of uiFeedback.alerts(); track alert.id) {
    <div class="global-alert" [attr.data-type]="alert.type">
        <div class="global-alert-icon" [attr.data-type]="alert.type">
            <app-icon [name]=" getIcon(alert.type) " class=" icon-sm"></app-icon>
        </div>
        <div class="global-alert-content">
            <div class="global-alert-title">{{ alert.title }}</div>
            @if (alert.message) {
            <div class="global-alert-message">{{ alert.message }}</div>
            }
        </div>
        @if (alert.dismissible) {
        <button class="global-alert-dismiss" (click)="uiFeedback.dismissAlert(alert.id)">
            <app-icon name="close" class=" icon-sm"></app-icon>
        </button>
        }
    </div>
    }
</div>